/* Fonts */

@font-face {
    font-family: 'Arial';
    src: local('Arial Italic'), local('Arial-ItalicMT'),
        url('Arial-ItalicMT.woff2') format('woff2'),
        url('Arial-ItalicMT.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: local('Arial'), local('ArialMT'),
        url('ArialMT.woff2') format('woff2'),
        url('ArialMT.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: local('Georgia Bold'), local('Georgia-Bold'),
        url('Georgia-Bold.woff2') format('woff2'),
        url('Georgia-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: local('Georgia'),
        url('Georgia.woff2') format('woff2'),
        url('Georgia.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Common */

* {
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.page {
    scroll-behavior: smooth;
    height: 100%;
}

.page__body {
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.page__main {
    flex-grow: 1;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.center {
    max-width: 1280px;
    padding: 0 40px;
    margin: 0 auto;
}

/* Text Styles */

.heading {
    font-family: "Georgia", "Times New Roman", "Times", serif;
    font-style: normal;
    color: #4c4c4c;
    font-weight: 400;
    line-height: 130%;
}

.heading_L {
    font-size: 44px;
}

.heading_M {
    font-size: 35px;
    letter-spacing: 0.06em;
}

.heading_S {
    font-size: 20px;
    letter-spacing: 0.06em;
}

.heading_XS {
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
}

.text {
    font-family: "Arial", "Helvetica", sans-serif;
    color: #4c4c4c;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
}

.text_legal {
    font-style: italic;
    font-size: 12px;
    line-height: 150%;
    color: #b2b2b2;
}

/* Buttons */

.button {
    display: inline-block;
    min-height: 52px;
    padding: 15px 45px;
    border-radius: 100px;
    font-family: "Georgia", "Times New Roman", "Times", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    border: 2px solid transparent;
    transition: all 0.3s linear;
    text-align: center;
}

.button_dark {
    background-color: #f1cdb3;
}

.button_light {
    background-color: #fff;
    border-color: #f1cdb3;
}

.button:hover {
    background-color: #fddcc4;
    border-color: #fddcc4;
}

.button:active {
    background-color: #f1cdb3;
    border-color: #f1cdb3;
}

.button_small {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    border: 2px solid #f1cdb3;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s linear;
}

.button_small_disabled {
    border-color: #cdcdcd;
    cursor: default;
}

.button_small_disabled path {
    fill: #CDCDCD;
}

.button_small_current {
    background-color: #f1cdb3;
}

.button_small:not(.button_small_disabled):hover {
    background-color: #fddcc4;
    border-color: #fddcc4;
}

.button_small:active {
    background-color: #f1cdb3;
}

.button_small:disabled {
    background-color: transparent;
    border-color: #CDCDCD;
    color: #CDCDCD;
}

/* Logo */

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo__title {
    font-family: "Georgia", "Times New Roman", "Times", serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    margin-bottom: 10px;
}

.logo__title_light {
    color: #f1cdb3;
}

.logo__subtitle {
    font-family: "Arial", "Helvetica", sans-serif;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.1em;
}

.logo__subtitle_light {
    color: #fff;
}

.logo__title_dark,
.logo__subtitle_dark {
    color: #545454;
}

/* Header */

.header {
    height: 120px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.header_color_white {
    background-color: #fff;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation__burger {
    display: none;
}

.navigation__list {
    display: flex;
    gap: 35px;
    justify-content: flex-end;
}

.navigation__link_normal {
    color: #cdcdcd;
    transition: all 0.3s linear;
}

.navigation__link_current {
    color: #fafafa;
}

.navigation__link_current_dark,
.navigation__link_normal_dark {
    color: #545454;
    transition: all 0.3s linear;
}

.navigation__link_current::after,
.navigation__link_current_dark::after {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background-color: #f1cdb3;
}

.navigation__link_normal:hover {
    color: #fafafa;
}

.navigation__link_normal_dark:hover {
    color: #292929;
}

/* Footer */

.footer {
    background-color: #211f20;
    background-image: url("../assets/background/gradient-background.jpg");
    background-repeat: no-repeat;
    position: relative;
}

.footer-wrapper {
    display: flex;
    gap: 13%;
    min-height: 350px;
}

.footer__content {
    display: flex;
    width: 740px;
    padding-top: 56px;
    gap: 22%;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    max-width: 280px;
    padding-bottom: 60px;
    gap: 42px;
}

.footer__address {
    max-width: 300px;
    padding-bottom: 60px;
}

.footer__image-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.footer__image {
    object-fit: scale-down;
    max-height: 310px;
}

.footer__heading {
    color: #fff;
}

.footer__text {
    line-height: 117%;
    color: #f1cdb3;
}

.footer__address .footer__heading {
    margin-bottom: 33px;
}

.footer__address address:first-of-type {
    margin-bottom: 36px;
}

.footer__address address {
    position: relative;
    padding-left: 40px;
}

.footer__address address::before {
    content: "";
    position: absolute;
    display: block;
    width: 20px;
    height: 32px;
    left: -1px;
    top: -3px;
    background-image: url("../assets/icons/icon-marker.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.footer__address address:first-of-type::before {
    top: 7px;
}

a[href="mailto:email@shelter.com"],
a[href="tel:+136745677554"] {
    display: flex;
}

a[href="mailto:email@shelter.com"]::before {
    content: "";
    display: block;
    width: 40px;
    height: 32px;
    margin-right: 20px;
    margin-top: -2px;
    background-image: url("../assets/icons/icon-email.svg");
}

a[href="tel:+136745677554"]::before {
    content: "";
    display: block;
    width: 40px;
    height: 32px;
    margin-right: 20px;
    background-image: url("../assets/icons/icon-phone.svg");
    margin-top: -2px;
}

/* Top */

.top {
    position: relative;
}

.top::after {
    content: "";
    display: block;
    position: absolute;
    min-height: 1165px;
    width: 100%;
    background-color: #211f20;
    background-image: url("../assets/background/gradient-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    top: -120px;
    z-index: -10;
}

.top-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    min-height: 788px;
    gap: 100px;
}

.top-content {
    padding-top: 163px;
    max-width: 460px;
    flex-shrink: 2;
}

.top__heading {
    color: #fff;
    margin-bottom: 42px;
}

.top__text {
    color: #cdcdcd;
    margin-bottom: 42px;
}

.top__image-wrapper {
    display: flex;
    align-items: flex-end;
}

.top__image {
    object-fit: scale-down;
    max-height: 728px;
}

/* About */

.about {
    background-color: #fff;
    padding-top: 80px;
    padding-bottom: 100px;
}

.about-wrapper {
    display: flex;
    justify-content: center;
    gap: 10%;
}

.about__image {
    max-height: 408px;
    object-fit: scale-down;
}

.about-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 430px;
    padding-top: 14px;
    flex-shrink: 3;
}


/* Pets */

.pets,
.pets-catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 100px;
}

.pets__heading {
    text-align: center;
    margin-bottom: 60px;
}

.pets__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    max-width: 270px;
    height: 435px;
    border-radius: 9px;
    background-color: #fff;
    transition: all 0.3s linear;
    padding-bottom: 30px;
}

.pets__card__button {
    margin: 0 5%;
}

.pets__card:hover {
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.pets__card:hover .button {
    background-color: #fddcc4;
    border-color: #fddcc4;
}

/* Pets Catalog */

.pets__cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 30px;
    justify-content: center;
}

.pets__pagination {
    padding-top: 60px;
}

.pagination__list {
    display: flex;
    gap: 20px;
}

/* Carousel */

.carousel {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 4.4%;
}

.carousel__cards {
    display: flex;
    width: 990px;
    gap: 4%;
    justify-content: space-between;
}

.carousel__button {
    margin-top: 60px;
}

.carousel__control {
    max-height: 52px;
    padding: 0;
    border: none;
    background-color: #f6f6f6;
    cursor: pointer;
}

.carousel__control svg,
.carousel__control rect {
    transition: all 0.3s linear;
}

.carousel__control:hover rect {
    fill: #fddcc4;
    stroke: #fddcc4;
}


.carousel__control:active rect {
    fill: #f1cdb3;
    stroke: #f1cdb3;
}


.carousel__control:disabled rect {
    fill: transparent;
    stroke: #CDCDCD;
}

.carousel__control:disabled path {
    fill: #CDCDCD;
}

/* Help */

.help {
    padding-top: 80px;
    padding-bottom: 100px;
    min-height: 611px;
    background-color: #fff;
}

.help-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.help__heading {
    text-align: center;
    margin-bottom: 60px;
}

.help__list {
    max-width: 1026px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 119px;
    row-gap: 55px;
}

.help__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help__item::before {
    content: "";
    display: block;
    height: 60px;
    width: 60px;
    margin-bottom: 27px;
    background-size: cover;
    background-repeat: no-repeat;
}

.help__item_food::before {
    background-image: url("../assets/icons/icon-pet-food.svg");
}

.help__item_transportation::before {
    background-image: url("../assets/icons/icon-transportation.svg");
}

.help__item_toys::before {
    background-image: url("../assets/icons/icon-toys.svg");
}

.help__item_bowls::before {
    background-image: url("../assets/icons/icon-bowls-and-cups.svg");
}

.help__item_shampoos::before {
    background-image: url("../assets/icons/icon-shampoos.svg");
}

.help__item_vitamins::before {
    background-image: url("../assets/icons/icon-vitamins.svg");
}

.help__item_medicines::before {
    background-image: url("../assets/icons/icon-medicines.svg");
}

.help__item_collars::before {
    background-image: url("../assets/icons/icon-collars-leashes.svg");
}

.help__item_sleeping::before {
    background-image: url("../assets/icons/icon-sleeping-area.svg");
}

/* Donation */

.donation {
    padding-top: 80px;
    padding-bottom: 100px;
}

.donation-wrapper {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.donation__image-wrapper {
    padding-top: 8px;
}

.donation__image {
    object-fit: scale-down;
    max-height: 261px;
}

.donation__content {
    display: flex;
    flex-direction: column;
    gap: 19px;
    width: 380px;
}

.donation__banking {
    display: block;
    border-radius: 9px;
    padding: 8px 15px;
    width: 350px;
    height: 43px;
    background-color: #f1cdb3;
}

.donation__credit-card {
    display: flex;
    align-items: center;
}

.donation__credit-card::before {
    content: "";
    display: block;
    background-image: url(../assets/icons/donation-credit-card.svg);
    width: 30px;
    height: 23px;
    margin-right: 15px;
}

@media (max-width: 768px) {

    .center {
        max-width: 768px;
        padding: 0 30px;
    }

    .top-wrapper {
        padding-top: 30px;
        flex-direction: column;
        align-items: center;
    }

    .top-content {
        display: grid;
        padding-top: 0;
    }

    .top-content__button {
        justify-self: center;
    }

    .top__image-wrapper {
        align-self: flex-end;
    }

    .top__image {
        max-height: 593px;
    }

    .about {
        padding-top: 66px;
    }

    .about-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 80px;
    }

    .about-content {
        order: -1;
    }

    .footer-wrapper {
        padding-top: 30px;
        flex-wrap: wrap;
        column-gap: 60px;
        row-gap: 65px;
        justify-content: center;
    }

    .footer__address .footer__heading {
        margin-bottom: 30px;
    }


    a[href="mailto:email@shelter.com"]::before {
        margin-top: -5px;

    }

    a[href="tel:+136745677554"]::before {
        margin-top: -3px;
    }

    .help__list {
        width: 630px;
        column-gap: 60px;
    }

    .help__item {
        width: 170px;
    }

    .donation {
        padding-top: 78px;
        padding-bottom: 100px;
    }

    .donation-wrapper {
        justify-content: center;
    }

    .pets {
        padding-top: 80px;
        padding-bottom: 100px;
    }

    .pets-catalog {
        padding-bottom: 76px;
    }

    .pets__card {
        width: 270px;
    }

    .pets-catalog .pets__card:nth-last-child(1),
    .pets-catalog .pets__card:nth-last-child(2) {
        display: none;
    }

    .pets__pagination {
        padding-top: 39px;
    }

    .carousel {
        position: relative;
        justify-content: center;
    }

    .carousel__cards {
        gap: 40px
    }

    .carousel__cards .pets__card:last-child {
        display: none;
    }

    /*
    .carousel__control_left {
        position: relative;
        left: 20px;
    }

    .carousel__control_right {
        position: relative;
        right: 20px;
    }
 */
}

@media (max-width: 750px) {
    .carousel {
        flex-wrap: wrap;
        row-gap: 20px;
        column-gap: 80px;
    }

    .carousel__cards {
        order: -1;
        justify-content: center;

    }
}

@media (max-width: 320px) {
    .center {
        max-width: 300px;
    }

    .top-content {
        display: flex;
        flex-direction: column;
    }

    .top__image {
        max-height: 260px;
    }

    .top-content__button {
        justify-self: center;
    }

    .heading {
        text-align: center;
    }

    .heading_L {
        font-size: 25px;
        letter-spacing: 0.06em;
    }

    .heading_M {
        font-size: 25px;

    }

    .heading_XS {
        letter-spacing: 0;
    }

    .header-wrapper {
        padding: 0 10px;
    }

    .navigation__burger {
        display: block;
    }

    .navigation__list {
        display: none;
    }


    .top__text {
        text-align: center;
    }

    .about {
        padding: 27px 10px 42px;
    }

    .about-wrapper {
        justify-content: center;
        gap: 42px;
    }

    .about-content {
        padding-left: 15px;
        padding-right: 15px;
        gap: 0;
    }

    .about-content .heading {
        margin-bottom: 25px;
    }

    .about__text {
        text-align: justify;
    }

    .about__text+.about__text {
        margin-top: 22px;
    }

    .pets {
        padding: 42px 0;
    }

    .pets__heading {
        margin-bottom: 42px;
    }

    .carousel {
        flex-direction: column;
    }

    .carousel__cards .pets__card:not(:first-child) {
        display: none;
    }

    .carousel__button {
        margin-top: 114px;
    }

    .carousel__control {
        top: auto;
        bottom: 94px;
    }

    /* .carousel__control_left {
        left: 43px;
    }

    .carousel__control_right {
        right: 43px;
    } */

    .help {
        padding: 42px 0 37px;
    }

    .help__heading {
        margin-bottom: 42px;
    }

    .help__list {
        width: 290px;
        gap: 30px;
        justify-content: flex-start;
    }

    .help__list .heading_S {
        font-size: 15px;
    }

    .help__item {
        width: 130px;
    }

    .help__item::before {
        width: 50px;
        height: 50px;
        margin-bottom: 18px;
    }

    .donation {
        padding: 42px 0;
    }

    .donation-wrapper {
        justify-content: center;
        gap: 42px;
    }

    .donation__content {
        align-items: center;
        gap: 24px;
        padding: 0 10px;
    }

    .donation .heading_S {
        font-size: 15px;
    }

    .donation__banking {
        width: 281px;
        height: 43px;
    }

    .text_legal {
        margin-top: -5px;
        text-align: justify;
    }

    .footer {
        padding-top: 30px;
    }

    .footer-wrapper {
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }

    .footer__contacts {
        padding: 0;
        gap: 43px;
        width: 278px;
        height: 208px;
        align-items: center;
    }

    a[href="mailto:email@shelter.com"]::before {
        margin-top: -5px;
    }

    .footer__address {
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 300px;
        height: 222px;
    }

    .footer__address .footer__heading {
        margin-bottom: 38px;
        width: 270px;
        align-self: center;
    }

    .footer__address address:first-of-type {
        margin-bottom: 43px;
    }

    .footer__address address::before {
        left: 1px;
    }

    .footer__address address:first-of-type::before {
        top: 9px;
    }

    .pets-catalog {
        padding: 42px 0;
    }

    .pets__cards .pets__card:nth-child(4),
    .pets__cards .pets__card:nth-child(5),
    .pets__cards .pets__card:nth-child(6),
    .pets__cards .pets__card:nth-child(7),
    .pets__cards .pets__card:nth-child(8) {
        display: none;
    }

    .pets__pagination {
        padding-top: 42px;
    }

    .pagination__list {
        gap: 10px;
    }
}