/* Common */

* {
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
}

.page {
    scroll-behavior: smooth;
    height: 100%;
}

.page__body {
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.page__main {
    flex-grow: 1;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.center {
    width: 1200px;
    margin: 0 auto;
}


/* Text Styles */

.heading {
    font-family: "Georgia", "Times New Roman", "Times", serif;
    font-style: normal;
    color: #4c4c4c;
    font-weight: 400;
    line-height: 130%;
}

.heading_L {
    font-size: 44px;
}

.heading_M {
    font-size: 35px;
    letter-spacing: 0.06em;
}

.heading_S {
    font-size: 20px;
    letter-spacing: 0.06em;
}

.heading_XS {
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
}

.text {
    font-family: "Arial", "Helvetica", sans-serif;
    color: #4c4c4c;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
}

.text_legal {
    font-style: italic;
    font-size: 12px;
    line-height: 150%;
    color: #b2b2b2;
}

/* Buttons */

.button {
    display: inline-block;
    height: 52px;
    padding: 15px 45px;
    border-radius: 100px;
    font-family: "Georgia", "Times New Roman", "Times", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}

.button_dark {
    background-color: #f1cdb3;
}

.button_light {
    background-color: #fff;
    border: 2px solid #f1cdb3;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding-top: 30px;
}

.navigation__list {
    display: flex;
    gap: 35px;
    justify-content: flex-end;
}

.navigation__link {
    color: #cdcdcd;
}

.navigation__link_current {
    color: #fafafa;
}

/* Logo */
.logo__title {
    font-family: "Georgia", "Times New Roman", "Times", serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
}

.logo__title_light {
    color: #f1cdb3;
}

.logo__subtitle {
    font-family: "Arial", "Helvetica", sans-serif;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.1em;
}

.logo__subtitle_light {
    color: #fff;
}


.logo__title_dark,
.logo__subtitle_dark {
    color: #545454;
}


/* Top */

.top {
    height: 818px;
    position: relative;
}

.top__background {
    position: absolute;
    height: 908px;
    width: 100%;
    background-color: #211f20;
    background-image: url("../assets/background/top-gradient-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    top: -90px;
    z-index: -10;
}